    <div id="sidebar-wrapper" class="col-md-2">
            <div id="sidebar" class="sidebar_nav">
                <ul class="nav list-group">
                   
            <li class="active">
                 <a data-target="#visitor" data-toggle="collapse" href="javascript:;" ><i class="fa fa-users fa-fw"></i>
                 Visitors <i class="fa fa-fw fa-caret-down"></i>
                        </a>
                        
                        <ul class="collapse" id="visitor">
                            <li>
                                <a href="/userList"><i class="fa fa-user fa-fw"></i>Customers</a>
                      
                           </li>
                        </ul>
                    </li>
              <li>
                      <a data-target="#catalog" data-toggle="collapse" href="javascript:;" >
                        <i class="fa fa-th-list fa-fw"></i> Catalogs <i class="fa fa-fw fa-caret-down"></i>
                        </a>
                        
                        <ul class="collapse" id="catalog">
                            <li>
                                <a href="/addBlog"> <i class="fa fa-plus"></i>Add Post </a>
                      
                           </li>
                         <li>
                            <a href="/listBlog"><i class=" fa fa-tags fa-fw"></i>List Post</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                      <a data-target="#demo" data-toggle="collapse" href="javascript:;" >
                        <i class="fa fa-fw fa-arrows-v"></i> Products <i class="fa fa-fw fa-caret-down"></i>
                        </a>
                        
                        <ul class="collapse" id="demo">
                            <li>
                                <a href="/addProduct"><i class="fa fa-plus" ></i>
Add Product</a>
                      
                           </li>
                         <li>
                            <a href="/productsList"><i class="fa fa-list-alt"></i>
List Product</a>
                            </li>
                        </ul>
                    </li>

    
                   <li>
                      <a data-target="#sales" data-toggle="collapse" href="javascript:;" >
                        <i class="fa fa-shopping-cart "></i> Sales <i class="fa fa-fw fa-caret-down"></i>
                        </a>
                        
                        <ul class="collapse" id="sales">
                            <li>
                                <a href="/orders"><i class="fa fa-credit-card"></i> Orders</a>
                
                           </li>
                         <li>
                            <a href="/invoice"><i class="fa fa-usd fa-fw "></i>Invoice</a>
                            </li>
                              <li>
                            <a href="/cancel"><i class="fa fa-hand-o-left fa-fw "></i>Cancel</a>
                            </li>
                        </ul>
                    </li>
            
                </ul>
            </div>
        </div>