
<link rel="stylesheet" type="text/css" href="/stylesheets/simple-sidebar.css" />
<div id="wrapper">
      <div ng-include="'/javascripts/view/adminSidebar.html'"></div>
        <div id="main-wrapper" class="col-md-10 pull-right">
             <div id="main">
              <div class="page-header">
                <h3>Dashboard</h3>
              </div>
                   <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="#">Dashboard</a>
                            </li>
         
                        </ol>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget magna et ante suscipit lacinia. Aenean porttitor velit id pretium blandit. Aenean ut sodales ante. Ut faucibus ornare venenatis. Duis sit amet arcu eros. Mauris volutpat vestibulum congue. Nam volutpat, urna eu varius dapibus, velit nisl bibendum lorem, sit amet dapibus sem dolor eu felis.</p>
            </div>
          
            
        </div>
</div>
